body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.02em;
  margin: 0;
  background-color: #fafafa;
  color: #111;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  outline: none;
}
.conteiner {
  max-width: 367px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 736px;
  }
}
@media screen and (min-width: 1168px) {
  .conteiner {
    max-width: 1168px;
  }
}
/* ----------------------------hero------------------------ */
.page-nav {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list,
.social-list {
  display: none;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  padding: 20px 0 14px;
}
.menu {
  padding: 20px 0 14px;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.icon-menu {
  stroke-width: 2px;
  stroke: #111;
}
@media screen and (min-width: 768px) {
  .page-heder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-right: 101px;
    padding: 24px 0 14px;
  }
  .menu {
    display: none;
  }
  .page-nav {
    display: flex;
    margin-right: 48px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .nav-link {
    padding: 24px 0 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .social-list {
    display: flex;
    gap: 18px;
    margin-left: auto;
    padding: 24px 0 14px;
  }
  .social-link {
    background-color: #fafafa;
  }
  .icon-social {
    stroke-width: 2px;
    stroke: #111;
  }
}
@media screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
    padding: 28px 0;
  }
  .nav-link {
    padding: 24px 0 24px;
  }
}
/* -----------------section hero---------------------------*/
.hero-conteiner {
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.hero {
  padding: 278px 20px 0 20px;
  max-width: 335px;
  border: none;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../images/hero/chocolate-covered-cocoa-powder-mb.jpg");
}
.hero-tile {
  color: #fff;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.hero-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 14px;
  padding-bottom: 20px;
}
.hero-button {
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  background-color: #fd9222;
}
.hero-link {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
}
.scroll-down {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.scroll-svg {
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .hero-conteiner {
    padding-top: 14px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .hero {
    padding: 671px 40px 0 40px;
    max-width: 768px;
    background-color: rgba(17, 17, 17, 0.4);
    background-image: linear-gradient(
        to right,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url("../images/hero/chocolate-covered-cocoa-powder-tab.jpg");
  }
  .hero-tile {
    font-weight: 500;
    font-size: 28px;
  }
  .hero-group {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    padding-bottom: 40px;
    justify-content: space-between;
  }
  .hero-button {
    padding: 14px 40px;
    width: 144px;
    height: 45px;
  }
  .hero-link {
    padding: 14px 40px;
    width: 183px;
    height: 45px;
  }
  .scroll-down {
    gap: 14px;
  }
}
@media screen and (min-width: 1168px) {
  .hero-conteiner {
    padding-bottom: 36px;
    margin-bottom: 72px;
  }
  .hero {
    padding-top: 381px;
    max-width: 1168px;
    background-color: rgba(17, 17, 17, 0.4);
    background-image: linear-gradient(
        to right,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url("../images/hero/chocolate-covered-cocoa-powder-ds.jpg");
  }
  .hero-tile {
    max-width: 484px;
  }
  .hero-group {
    justify-content: left;
  }
  .hero-button {
    margin-right: 14px;
  }
  .hero-link {
    display: block;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
    margin-right: 585px;
  }
  .scroll-down {
    gap: 14px;
  }
}
/* -------------------section benefits--------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1e1823;
}
.benefits-conteiner {
  color: #fff;
  padding: 20px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits-item {
  margin-bottom: 20px;
  padding-right: 28px;
}
.icon-benefits {
  padding: 15px;
  margin-bottom: 22px;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  .benefits-item {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1168px) {
  .benefits-item {
    width: calc(100% / 3);
  }
}
/* ------------------section ingredients---------------------- */
.ingredients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.box {
  width: 100%;
  margin: 32px auto 32px auto;
}
.ingredients-title {
  width: 283px;
  margin: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}
.ingredients-span {
  color: #fd9222;
}
.ingredients-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
}
.ingredients-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingredients-item-1 {
  border-radius: 15px;
  width: 335px;
  height: 270px;
  background: #fd9222;
}
.ingredients-img {
  width: 224px;
  height: 171px;
  margin: 28px auto 25px;
}
.ing-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-left: 28px;
}
.item1 {
  color: #fff;
}
.ingredients-item-2 {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 335px;
  height: 270px;
}
.ingredients-item-3 {
  border-radius: 15px;
  width: 335px;
  height: 270px;
  background: #1e1823;
}
@media screen and (min-width: 768px) {
  .conteiner {
    padding: 0;
  }
  .ingredients {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .box {
    width: 486px;
    margin: 50px auto 50px auto;
  }
  .ingredients-title {
    width: 411px;
  }
  .ingredients-box {
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1168px) {
  .ingredients-box {
    gap: 19px;
    flex-wrap: nowrap;
  }
  .ingredients-item-1, 
  .ingredients-item-2, 
  .ingredients-item-3, 
  .ingredients-item-4 {
    width: 270px;
  }
}

/* --------------------made-section-------------------------- */
.made-section {
  padding-bottom: 60px;
}
#made {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.span-made {
  color: #fd9222;
}
.made-img {
  border-radius: 15px;
  width: 335px;
  height: 500px;
  margin: 0 auto 20px;
  background: rgba(0, 0, 0, 0.4),
    url("./images/how-it-is-made/hot-chocolate-ds.jpg");
}
.made-container {
  border-radius: 15px;
  width: 335px;
  height: 456px;
  margin: auto;
  padding: 0 15px;
}
.made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 20px;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.made-item {
  display: flex;
  gap: 8px;
}
.made-svg {
  border-radius: 100%;
  fill: #4c4c4c;
  stroke-width: 1px;
  stroke: #eceded;
}
.made-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  width: 291px;
}
@media screen and (min-width: 768px) {
  .made-section {
    padding-bottom: 80px;
  }
  .made-img {
    width: 614px;
    height: 400px;
    margin: 0 auto 20px;
    background: rgba(0, 0, 0, 0.4),
      url("./images/how-it-is-made/hot-chocolate-ds.jpg");
  }
  .made-container {
    width: 614px;
    height: 356px;
  }
  .made-title {
    margin-bottom: 28px;
  }
  .made-text {
    width: 464px;
  }
}
@media screen and (min-width: 1168px) {
  .made-flexbox {
    display: flex;
    gap: 20px;
  }
  .made-text {
    width: 436px;
  }
}
/* ------------------section reviews---------------------- */
.page-reviews {
  padding-bottom: 60px;
}
.rev-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}
.span-title {
  color: #fd9222;
}
.rev-list {
  display: flex;
  width: 300%;
  transition: transform 1000ms ease-in-out;
}
.rev-item {
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 15px;
  width: calc(100% / 3);
  height: 200px;
  background: #fff;
  flex-shrink: 0;
}
.list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}
.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.rev-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  margin: 32px auto 0;
  display: block;
}
.sliders {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.pagination {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.pagination label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #111;
  transition: width 1000ms ease-in-out, border 1000ms ease-in-out;
}
.sliders input {
  display: none;
}
#slide2:checked ~ .rev-list {
  transform: translateX(-33.33%);
}
#slide3:checked ~ .rev-list {
  transform: translateX(-66.66%);
}
#slide1:checked ~ .rev-list {
  transform: translateX(0);
}
#slide1:checked ~ .pagination [for="slide1"],
#slide2:checked ~ .pagination [for="slide2"],
#slide3:checked ~ .pagination [for="slide3"] {
  width: 60px;
  border-radius: 50%;
  background-color: #fd9222;
}

@media screen and (min-width: 768px) {
  .rev-title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .span-title {
    font-size: 24px;
  }
  .rev-list {
    width: 100%;
    gap: 16px;
  }
  .rev-item {
    width: calc((100% - 16px) / 2);
  }
  .list-title {
  }
  .list-text {
  }
  .pagination [for="slide3"] {
    display: none;
  }
  #slide2:checked ~ .rev-list {
    transform: translateX(-51.1%);
  }
}
@media screen and (min-width: 1168px) {
  .rev-title {
  }
  .span-title {
  }
  .rev-list {
    gap: 20px;
  }
  .rev-item {
    width: calc((100% - 40px) / 3);
  }
  .list-title {
  }
  .list-text {
  }
  .pagination {
    display: none;
  }
}

/* --------------footer section------------------ */
.footer-section{
  background-color: #1e1823;
  color: #fff;
}
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  width: 300px;
  margin-bottom: 32px;
}
.foter-span {
  color: #fd9222;
}

.contact-conteiner {
  margin-bottom: 32px;
}
h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.contacts-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.separator {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 335px;
  height: 0px;
  transform: rotate(-180deg);
  margin-bottom: 32px;
}
.footer-content{
  display: flex;
  flex-direction: column;
}
.content-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
.content-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
}
.footer-form {
  display: flex;
  gap: 8px;
}
.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 207px;
  background-color: inherit;
}
.footer-button {
  border-radius: 100px;
  padding: 14px 26px;
  width: 120px;
  height: 45px;
  background: #fd9222;
}
@media screen and (min-width: 768px) {
  .footer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16px;
  padding-right: 16px;
  }
  h3 {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 52px;
  }
  .footer-conteiner {
    display: flex;
    justify-content: space-between;
  }

.separator {
  margin-bottom: 24px;
  width: 704px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.content-list {
  flex-direction: row;
  gap: 16px;
  margin-bottom: 0;
}
.content-item{
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}
.item-display {
  display: none;
}
.footer-input {
  padding: 14px 24px;
  width: 233px;
}
.footer-button {
  background: #fd9222;
  padding: 14px 28px;
  width: 128px;
}
}
@media screen and (min-width: 1168px) {
  .separator{
  width: 1136px;
  }
  .footer-content {
    justify-content: space-between;
    gap: 0;
  }
}
