body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.02em;
  margin: 0;
  background-color: #fafafa;
  color: #111;
}
a {
  direction: none;
  cursor: pointer;
  color: currentColor;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  outline: none;
}
.conteiner {
}
