body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.02em;
  margin: 0;
  background-color: #fafafa;
  color: #111;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  outline: none;
}
.conteiner {
  max-width: 367px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 736px;
  }
}
@media screen and (min-width: 1168px) {
  .conteiner {
    max-width: 1168px;
  }
}
/* ----------------------------hero------------------------ */
.page-heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list,
.social-list {
  display: none;
}

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  padding: 20px 0 14px;
}
.menu {
  padding: 20px 0 14px;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.icon-menu {
  stroke-width: 2px;
  stroke: #111;
}
@media screen and (min-width: 768px) {
  .page-heder {
    justify-content: flex-start;
  }
  .logo {
    margin-right: 101px;
    padding: 24px 0 32px;
  }
  .menu {
    display: none;
  }
  .page-nav {
    display: flex;
    margin-right: 48px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .nav-link {
    padding: 24px 0 32px;
    font-weight: 500;
    line-height: 1.14;
  }
  .social-list {
    display: flex;
    gap: 18px;
    margin-left: auto;
  }
  .social-link {
    background-color: #fafafa;
  }
  .icon-social {
    stroke-width: 2px;
    stroke: #111;
  }
}
@media screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
    padding: 28px 0;
  }
  .nav-link {
    padding: 24px 0 24px;
  }
}
/* -----------------section hero---------------------------*/
.hero {
  background-color: linear-gradient(
      rbga(17, 17, 17, 0.4),
      rbga(17, 17, 17, 0.4)
    ),
    url(../images/hero/chocolate-covered-cocoa-powder-ds.jpg);
}

/* ------------------section reviews---------------------- */
.rev-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.span-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fd9222;
}
.rev-list {
  display: flex;
  width: 300%;
  transition: transform 1000ms ease-in-out;
}
/* .rev-list:checked{

} */
.rev-item {
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 15px;
  width: calc(100% / 3);
  height: 200px;
  /* box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03); */
  background: #fff;
  flex-shrink: 0;
}
.list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}
.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.rev-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
}
.sliders {
  position: relative;
  /* max-width: 335px; */
  overflow: hidden;
  margin: 0 auto;
}
.pagination {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.pagination label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #111;
  transition: width 1000ms ease-in-out, border 1000ms ease-in-out;
}
.sliders input {
  display: none;
}
#slide2:checked ~ .rev-list {
  transform: translateX(-33.33%);
}
#slide3:checked ~ .rev-list {
  transform: translateX(-66.66%);
}
#slide1:checked ~ .rev-list {
  transform: translateX(0);
}
#slide1:checked ~ .pagination [for="slide1"],
#slide2:checked ~ .pagination [for="slide2"],
#slide3:checked ~ .pagination [for="slide3"] {
  width: 60px;
  border-radius: 50%;
  background-color: #fd9222;
}

@media screen and (min-width: 768px) {
  .rev-title {
    font-size: 24px;
  }
  .span-title {
    font-size: 24px;
  }
  .rev-list {
    width: 100%;
    gap: 16px;
  }
  .rev-item {
    width: calc((100% - 16px) / 2);
  }
  .list-title {
  }
  .list-text {
  }
  .pagination [for="slide3"] {
    display: none;
  }
  #slide2:checked ~ .rev-list {
    transform: translateX(-51.1%);
  }
}
@media screen and (min-width: 1168px) {
  .rev-title {
  }
  .span-title {
  }
  .rev-list {
    gap: 20px;
  }
  .rev-item {
    width: calc((100% - 40px) / 3);
  }
  .list-title {
  }
  .list-text {
  }
  .pagination {
    display: none;
  }
}
